body{
       margin: 0px 50px;
}
h1{
       text-align: center;
}
.kotak{
       margin:auto;
       padding-left: 38.8%;
       padding-right: 20%;
}
td{
width: 100px;
height: 100px;
}
.vertikal{
       border-left: 2px solid black;
       border-right: 2px solid black;

}
.horizontal{
       border-top: 2px solid black;
       border-bottom: 2px solid black;

}
.vertikal-horizontal{
       background-color: pink;
       border-left: 2px solid black;
       border-right: 2px solid black;
       border-top: 2px solid black;
       border-bottom: 2px solid black;

}
