:root{
	--gelas-color: #e17055;
	--teh-color: #fff0be;
	 --asap-color: rgb(241, 212, 205);
	--bayangan-color: #60557C;
	--background-color: rgba(223, 230, 233,1.0);
	--canvas-color: #81ecec;
	 --benang-color:#101313b6;
	--benang-color: #60557C;
}

/* warna background keseluruhan */
body{
	background: var(--background-color);
}

/* styling area Canvas */
.canvas{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  left: 10px;
  width: 600px;
  height:600px;
  background: var(--canvas-color);
  background-position: center;
}

/* styling bentuk gelas */
.gelas {
  position: absolute;
  left: 190px;
  top: 200px;
  width: 220px;
  height: 260px;
  background: var(--gelas-color);
  border-radius: 0 0 35% 35%;
}

/* styling isian teh diatasnya gelas */
.gelas::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 182px;
  height: 50px;
  border-radius: 50%;
  border: 20px solid var(--gelas-color);
  background: var(--teh-color);
}

/* styling benang teh */
.gelas::after {
  content: '';
  position: absolute;
  height: 120px;
  width: 20px;
  left: 160px;
  top: 9px;
  border: 1px solid var(--gelas-color);
  border-left: 0px solid var(--benang-color);
  border-right: 2px solid var(--benang-color);
  border-top: 1px solid var(--benang-color);
  border-bottom: 0px solid var(--benang-color);
  border-radius: 50% 50% 0 0;
}

/* styling pegangan gelas */
.pegangan-gelas {
  position: absolute;
  right: 90px;
  top: 225px;
  height: 110px;
  width: 100px;
  border: 30px solid var(--gelas-color);
  border-radius: 0 50% 50% 0;
}

/* styling kotak merk teh */
.pegangan-gelas::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -30px;
  top: 60px;
  width: 40px;
  height: 40px;
  background: var(--background-color);
  transform: rotate(-6deg);
  border: 2px solid var(--benang-color);
}

/* styling bayangan dibawah gelas */
.pegangan-gelas::after {
  content: '';
  position: absolute;
  top: 130px;
  left: -200px;
  
  background: rgba(112, 85, 143, 0.2);
  width: 250px;
  height: 100px;
  border-radius: 50%;
}
















